* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.background-wrapper {
    height: 900px;
    background: url("../images/backgrounds/main_background.jpg") center center / cover no-repeat;
}

.btn {
    background-color: rgba(201, 69, 59, 1);
    border-radius: 5px;
    padding: 14px 34px 13px 36px;
    border: none;
}

.btn a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.header__wrapper {
    padding: 42px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Ribeye;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 6%;
    text-align: left;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navigation__item a {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
}

.main {
    margin-top: 212px;
}

.main__title {
    color: rgba(255, 255, 255, 1);
    font-family: Gelasio;
    font-size: 65px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0%;
}

.main__text {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 30px;
}

.main__btn {
    margin-top: 40px;
    padding: 18px 46px 17px 47px;
}