* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.background-wrapper {
    height: 900px;
    background: url("../images/backgrounds/main_background.jpg") center center / cover no-repeat;
}

.btn {
    background-color: rgba(201, 69, 59, 1);
    border-radius: 5px;
    padding: 14px 34px 13px 36px;
    border: none;
}

.btn a {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.title {
    color: rgba(0, 0, 0, 1);
    font-family: Gelasio;
    font-size: 43px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.subtitle {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin: 20px 200px 0 200px;
}

.location__title {
    font-family: Gelasio;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.semitransparent {
    opacity: 0.6;
}

.bold {
    font-weight: 700;
}

.header__wrapper {
    padding: 42px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Ribeye;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 6%;
    text-align: left;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.navigation__item a {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0%;
}

.main {
    margin-top: 212px;
}

.main__title {
    color: rgba(255, 255, 255, 1);
    font-family: Gelasio;
    font-size: 65px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0%;
    max-width: 800px;
}

.main__text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 30px;
    max-width: 460px;
}

.main__btn {
    margin-top: 40px;
    padding: 18px 46px 17px 47px;
}

.locations {
    padding: 140px 0px 0px 0px;
}

.locations__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.locations__item-text {
    margin-top: -5px;
    text-align: center;
    padding: 35px 27px 37px 27px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.08);
    background-color: rgba(255, 255, 255, 1);
}

.locations__item-text p {
    margin-top: 10px;
    max-width: 290px;
    font-family: Roboto;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 21px;
}

.offers {
    padding: 70px 0px;
}

.offers .subtitle {
    margin: 20px auto 0 auto;
    max-width: 660px;
}

.offers__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.offers__item h3 {
    margin-top: 20px;
}

.offers__info {
    margin-top: 8px;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    gap: 30px;
}

.country span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
}

.rating span {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.country, .rating {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

.duration {
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.price {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

.blog {
    padding: 70px 0px 140px 0px;
}

.blog__wrapper {
    margin-top: 72px;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

.blog__primary {
    max-width: 470px;
}

.main__article-title {
    margin-top: 35px;
    color: rgba(0, 0, 0, 1);
    font-family: Gelasio;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
}

.main__article-descr {
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.main__article-author {
    margin-top: 10px;
}

.blog__secondary {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.secondary__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.article__title {
    color: rgba(0, 0, 0, 1);
    font-family: Gelasio;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
}

.article__descr-main {
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 470px;
}

.article__descr {
    margin-top: 10px;
    color: rgba(0, 0, 0, 1);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 243px;
}

.article__author {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}